[Unit]
Description=Helloclient
After=network.target

[Service]
ExecStartPre=/bin/sleep 4
ExecStart=/usr/bin/HelloWorldClient --config /usr/bin/vsomeip-client.json
WorkingDirectory=/usr/bin
Restart=always

[Install]
WantedBy=multi-user.target

